html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-family: mi;
}
/**iconos*/
.list{
    color: #fff;
    cursor: pointer;
}
.user{
    color: #fff;
    cursor: pointer;
}
.lupa {
    color: #fff;
    cursor: pointer;
    top: 0;    
}
.carrito{
    color: #fff;
    cursor: pointer;
}
.phone {
    color: #046e82;
}
.maps {
    color: #046e82;
}
.truck{
    color: #046e82;
}
.mns{
    color: #046e82;
}
/**header**/
.header {
    position: sticky;
    top: 0;
    max-width: 100%;
    background-color: #009a6d;
    z-index: 1;    
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    max-width: 100%;
    background-color: #009a6d;    
}
.parte-derecha  {
    display: flex;
    flex-wrap: nowrap;
    justify-content:center ;
    align-items: center;
    margin-top: 1rem;
    margin-right: 2.5rem;
    margin-left: 0.93;
}
.log img{
    display: inline-block;
    height: auto;
    text-align: left;
    width: 25rem;
    height: 6rem;
}
.blog{
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    margin-left: 10rem;
    font-weight: bold;
}
.display{
    display: none;
}
/**buscador**/
.barra{
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    position: relative;
}
.barra input {
    color: #4d4d4d;
    background-color: #fff;
    border: 0.06rem solid #fff;
    border-radius: 0.25rem;
    padding-left: 1.25rem;
    margin-left: 1rem;
    flex-basis: auto;
    width: 90rem;
    height: 5rem;
    font-size: 2rem;
}
.barra button {
    background-color: #009a6d;
    align-items: center ;
    border: 0.06rem #009a6d;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0; 
}
/**parte izquierda header**/
.parte-izquierda {
    display: flex;
    align-items: center;  
    flex-basis: 10%; 
    margin-top: 1rem;
}
.log{
    display: flex;
    align-items: center;
    margin-right: 3rem;
    font-size: 2rem;
    font-weight: bold;
    list-style: none;
}
.login {
    text-decoration: none;
    color: #fff;
}
.Carrito {
    margin-right: 6rem;
}
/*Navbar*/
.navbar{
    margin-top: 1rem;
    height: 100%;
}
.nav-menu {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #009a6d;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.nav-menu-item {
    font-size: 2.5rem;
    margin: 0 2rem;
    line-height: 5rem;
}
img {
    max-width: 100%;
}
/**main**/
.banner{
    background-image: url("../IMG/banner_led_640w_1900x500.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.img-inferior{
    background-image: url("/Evaluacion1/IMG/green-vectors.webp");
    height: 1%;
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor-img{
    margin: 0 auto;
    padding: 1.25rem 0.625rem;
    align-items: center;
    width: 100%;   
}
.inferior-banner{
    display: block;
}
.inferior-banner {
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: none;
    line-height: normal;
    font-size: 2rem;
    margin: 0;
}
/**Mosaico**/
.Mosaico-img {
    padding-left: 1.563rem;
    padding-right: 1.563rem;
}
.contenedor-mosaico {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.25rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.moledores{
    background-image: url("../IMG/grinders_3_4c2d4207-7065-44fe-ad93-073f27f1e134_888x430.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 29vw;
    flex-basis: 50%;
    margin-bottom: 2rem;
    cursor: pointer;
}
.nutrientes{
    background-image: url("../IMG/cultivo_444x280.webp");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 19vw;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 0.8rem;
}
.semillas{
    background-image: url("../IMG/semillas_68261dfd-808d-4a04-9a8d-96792ad61f60_888x430.webp");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 29vw;
    background-repeat: no-repeat;
    flex-basis: 50%;
    cursor: pointer;
}
.pyrex {
    background-image: url("../IMG/WhatsApp_Image_2024-01-04_at_17.24.18_444x280.webp");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 19vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.vaporizadores {
    background-image: url("../IMG/WhatsApp_Image_2024-01-04_at_17.24.19_3_444x280.webp");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 19vw;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 0.8rem;
}
/*Configuracion Imagenes*/
.moledores img {
    max-width: 100%;
    height: auto;
}
.columna1 {
    display: flex;
    flex-direction: column;
}
.columna2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.texto-mosaico {   
    font-size: 2rem;
    color: #fff;
}
/*Barra de informacion*/
.barra-contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 2rem;
}
.despacho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.envios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.localizacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-contacto {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;

}
.text-contacto p {
    font-size: 1.125rem;
}
/*Hiervas*/
.hierva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10rem;
}
.thc {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.titulos-thc{
    flex-basis: 40%;
    text-align: center;
    font-size: 1.5rem;
}
.plantas-thc{
    flex-basis: 60%;
}
.productoras {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
}
.titulo-productoras{
    flex-basis: 40%;
    text-align: center;
    font-size: 1.5rem;
}
.plantas-productoras {
    flex-basis: 60;   
}
.autoflorecientes {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.titulos-auto{
    flex-basis: 40%;
    text-align: center;
    font-size: 1.5rem;
}
.plantas-auto {
    flex-basis: 60;
}
/*Productos*/
.section-producto {
    position: relative;
    margin-top: 5%;
}
.titulo-product{
    text-align: center;
    font-size: 3rem;   
}
.contenedor-producto{
    position: relative;
}
.productos {
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 10rem;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5.56rem;
    list-style: none;
}
.Imagen{
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
.Imagen-contenedor{
    max-width: 33rem;
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
}
.card{
    border-radius: 0.5rem;
    box-shadow: 0 0.125 0.125 rgba(0, 0, 0, 0.2);
    margin: 1.25rem;
    overflow: hidden;
    transition: all 0.5s;
}
.card:hover{
    transform: translateY(-0.9rem);
    box-shadow: 0 0.75rem 0.9rem  rgba(0, 0, 0, 0.2);
    transition: color .1s cubic-bezier(.4,0,.2,1);
}
.hermotico {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 1rem 1rem;
}
.contenido-card{
    display: flex;
    flex-direction: column;
}
.texto-product {
    text-decoration: none;
    color: #4c5154;
    font-size: 2rem;
}
.texto-product:hover{
    color: #00AEFF;
}
.texto-product-inferior {
    text-decoration: none;
    font-size: 1.5rem;
    color: #B2BABB;
    line-height: 2;
}
.texto-product-inferior:hover{
    color:#00AEFF;
}
.precio-card{
    font-size: 1.4rem;
    color:#949494;
    text-decoration: line-through;
}
.precio-final{
    font-size: 2rem;
    color: #ff674b;
    font-weight: bold;
}
.parte-inferior-card {
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.parte-inferior-card{
    font-size: 1.5rem;
}
.stars{
    margin-right: 1rem;
}
.Bodega{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 1rem 1rem;
    margin-bottom: 9.2rem;
}
.card2{
    border-radius: 0.5rem;
    box-shadow: 0 0.125 0.125 rgba(0, 0, 0, 0.2);
    margin: 1.25rem;
    overflow: hidden;
    transition: all 0.5s;
}
.card2:hover{
    transform: translateY(-0.9rem);
    box-shadow: 0 0.75rem 0.9rem  rgba(0, 0, 0, 0.2);
    transition: color .1s cubic-bezier(.4,0,.2,1);
}
/*Boton*/
.boton {
    background-color: #ff674b;
    
    /*medidas*/
    font-size: 1.125rem;
    width: 25rem;
    height: 5rem;
    padding: 0.75rem 1.125rem;
    margin-top: 6.1rem;
    margin-left: 3rem;
    border: 0.06rem solid #ff674b;
    border-radius: 3px;
    cursor: pointer;
}
.boton1 {
    background-color: #ff674b;
    
    /*medidas*/
    font-size: 1.125rem;
    width: 12rem;
    height: 5rem;
    padding: 0.75rem 1.125rem;
    margin-top: 6.1rem;
    margin-left: 3rem;
    border: 0.06rem solid #ff674b;
    border-radius: 3px;
    cursor: pointer;
}
.boton2{
    background-color: #ff674b;
    /*Medidas*/
    font-size: 1.125rem;
    width: 15rem;
    height: 5rem;
    padding: 0.75rem 1.125rem;
    margin-top: 6.1rem;
    margin-left: 2rem;
    border: 0.06rem solid #ff674b;
    border-radius: 3px;
    cursor: pointer;
}
.boton3 {
    background-color: #ff674b;
    /*Medidas*/
    font-size: 1.125rem;
    width: 10rem;
    height: 5rem;
    padding: 0.75rem 1.125rem;
    margin-top: 6.1rem;
    margin-left: 2rem;
    border: 0.06rem solid #ff674b;
    border-radius: 0.2rem;
    cursor: pointer;
}
.boton4 {
    background-color: #ff674b;
    /*Medidas*/
    font-size: 1.125rem;
    width: 18rem;
    height: 5rem;
    padding: 0.75rem 1.125rem;
    margin-top: 6.1rem;
    margin-left: 2rem;
    border: 0.06rem solid #ff674b;
    border-radius: 3px;
    cursor: pointer;
}
.boton-card{
    position: relative;
    background-color: #ff674b;
    border-radius: 3px;
    border: 0.06rem solid #ff674b;
    overflow: hidden;
    height: 4rem;
    width: 20rem;
    outline: none;
    cursor: pointer;
    margin-bottom: 4rem;
}
.contenido-boton{
    display: block;
    opacity: 1;
    transition: opacity 125ms cubic-bezier(.4,0,.2,1), transform 125ms cubic-bezier(.4,0,.2,1);
    transform: scale(1);
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.boton-central-mosaico{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.boton-central{
    text-align: center;
    background-color: #ff674b;
    font-size: 1.125rem;
    width: 10rem;
    height: 6rem;
    padding: 0.75rem 1.125rem;
    margin-top: 6.1rem;
    margin-left: 3rem;
    border: 0.06rem solid #ff674b;
    border-radius: 3px;
    cursor: pointer;
}
.boton-central:hover{
    box-shadow: 0 0.75rem 0.9rem  rgba(255, 103, 75, 1);
    transition: color .5s cubic-bezier(.4,0,.2,1);
}
.contenido-boton-central{
    display: block;
    opacity: 1;
    transition: opacity 125ms cubic-bezier(.4,0,.2,1), transform 125ms cubic-bezier(.4,0,.2,1);
    transform: scale(1);
    font-size: 1.7rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
/*Fin del diseño boton*/
.micro {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 1rem 1rem;
    margin-bottom: 4.5rem;
}
.card3{
    border-radius: 0.5rem;
    box-shadow: 0 0.125 0.125 rgba(0, 0, 0, 0.2);
    margin: 1.25rem;
    overflow: hidden;
    transition: all 0.5s;
}
.card3:hover{
    transform: translateY(-0.9rem);
    box-shadow: 0 0.75rem 0.9rem  rgba(0, 0, 0, 0.2);
    transition: color .1s cubic-bezier(.4,0,.2,1);
}
.tijera-recta{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 1rem 1rem;
    margin-bottom: 3rem;
}
.card4{
    border-radius: 0.5rem;
    box-shadow: 0 0.125 0.125 rgba(0, 0, 0, 0.2);
    margin: 1.25rem;
    overflow: hidden;
    transition: all 0.5s;
}
.card4:hover{
    transform: translateY(-0.9rem);
    box-shadow: 0 0.75rem 0.9rem  rgba(0, 0, 0, 0.2);
    transition: color .1s cubic-bezier(.4,0,.2,1);
}
.tijera-curva{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 1rem 1rem;
    margin-bottom: 2.6rem;
}
.card5{
    border-radius: 0.5rem;
    box-shadow: 0 0.125 0.125 rgba(0, 0, 0, 0.2);
    margin: 1.25rem;
    overflow: hidden;
    transition: all 0.5s;
}
.card5:hover{
    transform: translateY(-0.9rem);
    box-shadow: 0 0.75rem 0.9rem  rgba(0, 0, 0, 0.2);
    transition: color .1s cubic-bezier(.4,0,.2,1);
}
/**footer**/
.footer{
    display: block;
    align-items: center;
    justify-content: center;
}
.contenedor-footer{
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    padding: 1.25rem 0;
    background-color: #009a6d;
    color: #888888;
    opacity: 1.0;
}
.Contenido-footer{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;    
    max-width: 1200px;
    padding: 0;
    color: #fff;
    line-height: 2;
}
.Contenido-footer h2{
    font-size: 2rem;
    font-weight: bold;
}
.Contenido-footer p {
    font-size: 14px;
}
.info-semillas{
    display: flex;
    flex-direction: column;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    flex-basis: 25%;
}
.redes{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    margin-left: 2rem;
    margin-right: 0.6rem;
}
.iconos-redes {
    display: flex;
    margin-top: -4px;
    margin-left: -4px;
    margin-right: -4px;
    font-size: 0;
    cursor: pointer;
}
.iconos-redes a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    outline: 0;
}
.iconos-redes a:visited{
    color: #ffb477;
}
.red-link{
    font-size: 2rem;
    position: relative;
    height: 28px;
    width: 28px;
    margin: 4px;
    color: #5c5c5c;
    vertical-align: top;
    outline: 0;
}
.red-link svg {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 6px;
    margin-top: 5px;
}
.red-link::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: #5c5c5c26;
    transition: transform 125ms cubic-bezier(.4,0,.2,1);
}
.red-link:hover{
    transform: translateY(-0.1rem);
    box-shadow: 0 0.75rem 0.9rem  rgba(0, 0, 0, 0.2);
    transition: color .5s cubic-bezier(.4,0,.2,1);
    border-radius: 50%;
}
.termino{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    margin-left: 0.6rem;
    margin-right: 0.6rem;   
}
.contenido-termino{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}
.contenido-termino:hover{
    color: #4B5458;
}
.Noticias{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}