html {
    font-size: 62.5%;
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/**iconos*/
.list{
    color: #fff;
    cursor: pointer;
}
.user{
    color: #fff;
    cursor: pointer;
}
.lupa {
    color: #fff;
    cursor: pointer;
    top: 0;
    
    
}
.carrito{
    color: #fff;
    cursor: pointer;
}
.phone {
    color: #046e82;
}
.maps {
    color: #046e82;
}

.truck{
    color: #046e82;
}
.mns{
    color: #046e82;
}
/**header**/
.header {
    position: sticky;
    top: 0;
    max-width: 100%;
    background-color: #009a6d;
    
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    max-width: 100%;
    background-color: #009a6d;
}
.parte-derecha  {
    display: flex;
    flex-wrap: nowrap;
    justify-content:center ;
    align-items: center;
    margin-top: 1rem;
    margin-right: 2.5rem;
    margin-left: 0.93;
}
.log img{
    display: inline-block;
    height: auto;
    text-align: left;
    width: 25rem;
    height: 6rem;
}
.blog{
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    margin-left: 10rem;
    font-weight: bold;
}
.display{
    display: none;
}


/**buscador**/
.barra{
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    position: relative;
}
.barra input {
    color: #4d4d4d;
    background-color: #fff;
    border: 0.06rem solid #fff;
    border-radius: 0.25rem;
    padding-left: 1.25rem;
    margin-left: 1rem;
    flex-basis: auto;
    width: 90rem;
    height: 5rem;
    font-size: 2rem;
}
.barra button {
    background-color: #009a6d;
    align-items: center ;
    border: 0.06rem #009a6d;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0; 
}

/**parte izquierda header**/
.parte-izquierda {
    display: flex;
    align-items: center;  
    flex-basis: 10%; 
    margin-top: 1rem;
}
.log{
    display: flex;
    align-items: center;
    margin-right: 3rem;
    font-size: 2rem;
    font-weight: bold;
    list-style: none;
}
.login {
    text-decoration: none;
    color: #fff;
}
.Carrito {
    margin-right: 6rem;
}
/*Navbar*/

.navbar{
    margin-top: 1rem;
    height: 100%;
}
.nav-menu {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #009a6d;
    
    
}
.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
}
.nav-menu-item {
    font-size: 2.5rem;
    margin: 0 2rem;
    line-height: 5rem;
    
    
    
}
img {
    max-width: 100%;
}
/**main**/

.banner{
    background-image: url("../IMG/banner_led_640w_1900x500.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.img-inferior{
    background-image: url("/Evaluacion1/IMG/green-vectors.webp");
    height: 1%;
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: cover;

}
.contenedor-img{
    margin: 0 auto;
    padding: 1.25rem 0.625rem;
    align-items: center;
    width: 100%;
    
}
.inferior-banner{
    display: block;
}
.inferior-banner {
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: none;
    line-height: normal;
    font-size: 2rem;
    margin: 0;

}
/**Mosaico**/
.Mosaico-img {
    padding-left: 1.563rem;
    padding-right: 1.563rem;
}
.contenedor-mosaico {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.25rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.moledores{
    background-image: url("../IMG/grinders_3_4c2d4207-7065-44fe-ad93-073f27f1e134_888x430.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 29vw;
    flex-basis: 50%;
    margin-bottom: 2rem;
    cursor: pointer;
}

.nutrientes{
    background-image: url("../IMG/cultivo_444x280.webp");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 19vw;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 0.8rem;
}
.semillas{
    background-image: url("../IMG/semillas_68261dfd-808d-4a04-9a8d-96792ad61f60_888x430.webp");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 29vw;
    background-repeat: no-repeat;
    flex-basis: 50%;
    cursor: pointer;
}
.pyrex {
    background-image: url("../IMG/WhatsApp_Image_2024-01-04_at_17.24.18_444x280.webp");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 19vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.vaporizadores {
    background-image: url("../IMG/WhatsApp_Image_2024-01-04_at_17.24.19_3_444x280.webp");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 19vw;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 0.8rem;
}
    

/*Boton*/
.boton {
    background-color: #ff674b;
    
    /*medidas*/
    font-size: 1.125rem;
    width: 25rem;
    height: 5rem;
    padding: 0.75rem 1.125rem;
    margin-top: 6.1rem;
    margin-left: 3rem;
    border: 0.06rem solid ;
    border-radius: 0.2rem;
    cursor: pointer;
}
.boton1 {
    background-color: #ff674b;
    
    /*medidas*/
    font-size: 1.125rem;
    width: 12rem;
    height: 5rem;
    padding: 0.75rem 1.125rem;
    margin-top: 6.1rem;
    margin-left: 3rem;
    border: 0.06rem solid ;
    border-radius: 0.2rem;
    cursor: pointer;
}
.boton2{
    background-color: #ff674b;
    /*Medidas*/
    font-size: 1.125rem;
    width: 15rem;
    height: 5rem;
    padding: 0.75rem 1.125rem;
    margin-top: 6.1rem;
    margin-left: 2rem;
    border: 0.06rem solid ;
    border-radius: 0.2rem;
    cursor: pointer;
}
.boton3 {
    background-color: #ff674b;
    /*Medidas*/
    font-size: 1.125rem;
    width: 10rem;
    height: 5rem;
    padding: 0.75rem 1.125rem;
    margin-top: 6.1rem;
    margin-left: 2rem;
    border: 0.06rem solid ;
    border-radius: 0.2rem;
    cursor: pointer;
}
.boton4 {
    background-color: #ff674b;
    /*Medidas*/
    font-size: 1.125rem;
    width: 18rem;
    height: 5rem;
    padding: 0.75rem 1.125rem;
    margin-top: 6.1rem;
    margin-left: 2rem;
    border: 0.06rem solid ;
    border-radius: 0.2rem;
    cursor: pointer;
    
}
/*Configuracion Imagenes*/
.moledores img {
    max-width: 100%;
    height: auto;
}
.columna1 {
    display: flex;
    flex-direction: column;
}
.columna2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.texto-mosaico {
    
    font-size: 2rem;
    color: #fff;
}
/*Barra de informacion*/
.barra-contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 2rem;
}
.despacho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.envios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.localizacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-contacto {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;

}
.text-contacto p {
    font-size: 1.125rem;
}

/*Hiervas*/
.hierva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10rem;
}


.thc {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.titulos-thc{
    flex-basis: 40%;
    text-align: center;
    font-size: 1.5rem;
}
.plantas-thc{
    flex-basis: 60%;
}
.productoras {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
}
.titulo-productoras{
    flex-basis: 40%;
    text-align: center;
    font-size: 1.5rem;
}
.plantas-productoras {
    flex-basis: 60;
    
}
.autoflorecientes {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.titulos-auto{
    flex-basis: 40%;
    text-align: center;
    font-size: 1.5rem;
}
.plantas-auto {
    flex-basis: 60;
}
/*Productos*/

/**footer**/
