html {
    font-size: 62.5%;
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/**iconos**/
.list{
    color: #fff;
    cursor: pointer;
}
.user{
    color: #fff;
    cursor: pointer;
}
.lupa {
    color: #fff;
    cursor: pointer;
    top: 0;
    
    
}
.carrito{
    color: #fff;
    cursor: pointer;
}
/**header**/
.header {
    position: sticky;
    top: 0;
    max-width: 100%;
    background-color: #009a6d;
    
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    max-width: 100%;
    background-color: #009a6d;
}
.parte-derecha  {
    display: flex;
    flex-wrap: nowrap;
    justify-content:center ;
    align-items: center;
    margin-top: 1rem;
    margin-right: 2.5rem;
    margin-left: 0.93;
}
.log img{
    display: inline-block;
    height: auto;
    text-align: left;
    width: 25rem;
    height: 6rem;
}
.blog{
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    margin-left: 10rem;
    font-weight: bold;
}
.display{
    display: none;
}


/**buscador**/
.barra{
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    position: relative;
}
.barra input {
    color: #4d4d4d;
    background-color: #fff;
    border: 0.06rem solid #fff;
    border-radius: 0.25rem;
    padding-left: 1.25rem;
    margin-left: 1rem;
    flex-basis: auto;
    width: 90rem;
    height: 5rem;
    font-size: 2rem;
}
.barra button {
    background-color: #009a6d;
    align-items: center ;
    border: 0.06rem #009a6d;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0; 
}

/**parte izquierda header**/
.parte-izquierda {
    display: flex;
    align-items: center;  
    flex-basis: 10%; 
}
.log{
    display: flex;
    align-items: center;
    margin-right: 3rem;
    font-size: 2rem;
    font-weight: bold;
    list-style: none;
}
.login {
    text-decoration: none;
    color: #fff;
}
.Carrito {
    margin-right: 6rem;
}
/*Navbar*/

.navbar{
    margin-top: 1rem;
    height: 100%;
}
.nav-menu {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #009a6d;
    
    
}
.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
}
.nav-menu-item {
    font-size: 2.5rem;
    margin: 0 2rem;
    line-height: 5rem;
    
    
    
}
img {
    max-width: 100%;
}
/**main**/

.banner{
    background-image: url("../IMG/banner_led_640w_1900x500.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.img-inferior{
    background-image: url("/Evaluacion1/IMG/green-vectors.webp");
    height: 1%;
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: cover;

}
.contenedor-img{
    margin: 0 auto;
    padding: 1.25rem 0.625rem;
    align-items: center;
    width: 100%;
    
}
.inferior-banner{
    display: block;
}
.inferior-banner {
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: none;
    line-height: normal;
    font-size: 2rem;
    margin: 0;

}
/**Mosaico**/
.Mosaico-img {
    padding-left: 1.563rem;
    padding-right: 1.563rem;
}
.contenedor-mosaico {
    margin-top: 1.9rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    grid-gap: 1.25rem;
    
}

.moledores{
    background-image: url("../IMG/grinders_3_4c2d4207-7065-44fe-ad93-073f27f1e134_888x430.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 50rem;
    text-align: center;
    
}
.moledores button {
    width: 10rem;
    height: 5rem;
    border-radius: 0.2rem;
}
.moledores img {
    max-width: 100%;
    height: auto;
}

.nutrientes{
    max-width: 100%;
    height: auto;
}


/**footer**/
